--add-opens org.hibernate.validator/org.hibernate.validator.internal.engine=spring.core,spring.beans
--add-opens org.hibernate.validator/org.hibernate.validator.internal.constraintvalidators.bv=spring.beans,spring.core
--add-opens org.hibernate.validator/org.hibernate.validator.internal.metadata=spring.beans,spring.core
